html {
    scroll-behavior: smooth;
  }

  body {
    background-image: url("../images/hzijrkbfudub1.jpg"); /* Replace 'background.jpg' with the path to your image file */
    background-repeat:no-repeat ;
    background-position: center; /* This will position the image at the center */
    font-family: 'Gruppo', sans-serif;
    font-family: 'Vast Shadow', serif;

  }


/* page Effect  */

@keyframes fade-down {
  0%{
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0%{
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}


.intro{
  animation: fade-up 0.5s;
}

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }

   
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }




/* NavBAr  */
.navbar-expand{
  opacity: 0.5;
}

.navbar{
  background: white;
 
}


.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
    
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
    display: none;
    
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
    
    
}

.container,
  .navbar {
   margin: 0 auto; /* Center align the container horizontally */
    text-align: center; /* Center align the text within the container */
    padding: 20px; /* Add some padding to the container */
  }



 
  /* End of NavBar  */



  /* Content  */

  
  .ts-picture{
    width: 150px; 
    height: 170px;
  }





  h1,
  h2, 
  .navbar-brand:hover {
    font-family: "Tangerine", serif;
    text-shadow: 4px 4px 4px #00fad0;
  }

  h3{
    font-family: "Tangerine", serif;
  }
h5{
  text-shadow: 4px 4px 4px #3deed1;
  margin-bottom: 20px;
}
  .blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      color: white;
      opacity: 0.7;
    }
  }




  #text{
    font-size: 50px;
    color: #000000;
    text-shadow: 4px 4px 4px #f7f9fb;
  }

  .nav-text{
  color: #111111;
  text-shadow: 4px 4px 4px #00fad0;
  }
  .carousel-text{
    color: #c9902d;
    text-shadow: 4px 4px 4px #f7f9fb;
    font-size: x-large;
  }

.form-label{
  color: #bdc3c7;
  text-shadow: 4px 4px 4px #ed4a26;
 
}




.button{
  width: 50%;
   margin-bottom: 20px;
   border-radius: 50px;
     
   }
.button:hover{
  color: #fff;
  background-color: #000000;
  
}

.btn{
  
  background: linear-gradient(
    45deg,
    #c9902d,
    #00fad0,
    #d8d1c3,
    hsl(217, 28%, 33%)
    
  ); 
  border-radius: 50px;
  
  background-size: 300% 300%;
  animation: color 15s ease-in-out infinite;
}

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}





.container-fluid {
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
}

.container-fluid img {
  display: block;
  margin: 0 auto 10px;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 10px 0;
  }
}


.logos{
  box-shadow: 0px 2px 4px rgba(19, 243, 236, 0.967);
  width: 50px; height: 50px; 
  border-radius: 20%;
  
  }

.img-media:hover{
  transform: scale(1.3);
}
  
  .logos:hover {
    transform: scale(1.3);
  }


  .carousel-class{
    height: 200px;

  }

  .carousel-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);

  }

  footer{
    font-weight: bold;
    text-shadow: 4px 4px 4px #26eaed;
    color: #bdc3c7;
  }

/* Form Section  */
  .name{
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

.name i{
    position: absolute;
    top: 70%;
    left:92%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #bbb;
}

.name input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 5px 30px;
}

.name input::placeholder{
  color: #bbb;
  font-weight: 500;
}


.email{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  
}
.email i{
  position: absolute;
  top: 73%;
  left: 92%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #bbb;
}
.email input{
  width: 100%;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 20px;
  padding: 5px 30px;
}
.email input::placeholder{
  color: #bbb;
  font-weight: 500;
}


.message-box{
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.message-box textarea{
  width: 100%;
  padding: 20px 30px;
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #eee;
  border-radius: 20px;
}
.message-box textarea::placeholder{
  color: #bbb;
  font-weight: 500;
}


  .message{
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
.message .success{
    font-size: 20px;
    color: green;
    text-shadow: 4px 4px 4px #f3f3f3;
    position: absolute;
    animation: buttons .3s linear;
    display: none;
}
.message .danger{
    font-size: 20px;
    color: rgb(225, 89, 89);
    text-shadow: 4px 4px 4px #f3f3f3;
    position: absolute;
    transition: .3s;
    animation: buttons .3s linear;
    display: none;
}
@keyframes buttons{
    0%{
        transform: scale(0.1);
    }
    50%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}






/* inspire-me  */
.container {
  position: relative;
}

.img-container {
  position: relative;
}



.title {
  position: absolute;
  width: 100%;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(0, 0, 0, 0.73);
  font-size: 36px;
}

@media  (max-width: 760px) {
  /* Small screen styles */
  .title {
      font-size: 20px;
  }
}

.text-container {
  opacity: 0;
  animation-name: textFader;
  animation-duration: 18s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 45%;
  left: 70%;
  color: rgba(255, 255, 255, 0.44);

}

.text-container:nth-of-type(1) { animation-delay: 0s; }
.text-container:nth-of-type(2) { animation-delay: 6s; }
.text-container:nth-of-type(3) { animation-delay: 12s; }

@keyframes textFader {
  0% {
      opacity: 0;
  } /* fade-in */
  11% {
      opacity: 1;
  } /* show */
  22% {
      opacity: 1;
  } /* fade-out */
  33% {
      opacity: 0;
  } /* waiting for the finish animation of other blocks */
  100% {
      opacity: 0;
  }
}

.img-inspir{
  filter: brightness(0.4);
}