html {
    scroll-behavior: smooth;
  }

  body {
    background-image: url("../images/hzijrkbfudub1.jpg"); /* Replace 'background.jpg' with the path to your image file */
    background-repeat:no-repeat ;
    background-position: center; /* This will position the image at the center */
    font-family: 'Gruppo', sans-serif;
    font-family: 'Vast Shadow', serif;

  }

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }

   
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.navbar-expand{
  opacity: 0.5;
}

.navbar{
  background: white;
 
}


.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
    
}

/* hide close when burger shown */
.navbar-toggler.collapsed .close-icon {
    display: none;
    
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
    display: inline;
    
    
}

.container,
  .navbar {
   
    margin: 0 auto; /* Center align the container horizontally */
    text-align: center; /* Center align the text within the container */
    padding: 20px; /* Add some padding to the container */
  }


  .ts-picture{
    width: 150px; 
    height: 170px;
  }





  h1,
  h2, 
  .navbar-brand {
    font-family: "Tangerine", serif;
    text-shadow: 4px 4px 4px #cf1b1b;
  }

  .blink_me {
    animation: blinker 3s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      color: white;
      opacity: 0.7;
    }
  }




  #text{
    font-size: 50px;
    color: #000000;
    text-shadow: 4px 4px 4px #f7f9fb;
    
  }
  .carousel-text{
    color: rgb(201, 144, 45);
    text-shadow: 4px 4px 4px #f7f9fb;
    font-size: x-large;
  }

.form-label{
  color: #000000;
  text-shadow: 4px 4px 4px #f7f9fb;
  
}

.btn{
  background: linear-gradient(
    45deg,
    #db2ba3,
    #d25839,
    #489bc1,
    hsl(242, 53%, 36%)
  ); 
  background-size: 300% 300%;
  animation: color 15s ease-in-out infinite;
}

@keyframes color {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}



.container-fluid {
  bottom: 0;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
}

.container-fluid img {
  display: block;
  margin: 0 auto 10px;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 10px 0;
  }
}


.logos{
  box-shadow: 0px 2px 4px rgba(243, 19, 19, 0.967);
  width: 50px; height: 50px; 
  border-radius: 20%;
  
  }

.img-media:hover{
  transform: scale(1.3);
}
  
  .logos:hover {
    transform: scale(1.3);
  }


  .carousel-class{
    height: 200px;

  }

  .carousel-image{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);

  }










.success{
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: aquamarine;
  padding: 10px 40px;
  border-radius: 5px;
  border-left: 6px solid greenyellow;
}

.success.alert{
  opacity: 1;
  pointer-events: auto;
}

.success.show{
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0%{
    transform: translate(100%);
  }
  40%{
    transform: translate(-10%);
  }80%{
    transform: translate(0%);
  }100%{
    transform: translate(-20px);
  }
}


.success.hide{
  animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
  0%{
    transform: translate(-10px);
  }
  40%{
    transform: translate(0%);
  }80%{
    transform: translate(-10%);
  }100%{
    transform: translate(100%);
  }
}