html {
  scroll-behavior: smooth;
}

body {
    background-image: url("../images/hzijrkbfudub1.jpg"); /* Replace 'background.jpg' with the path to your image file */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; /* This will position the image at the center */
    margin: 0; /* Remove default margin to make the page fill the entire viewport */
    padding: 10%; /* Remove default padding to make the page fill the entire viewport */
    font-family: 'Gruppo', sans-serif;
    font-family: 'Vast Shadow', serif;
    
  }
  
  .container,
  .navbar {
    max-width: 900px; /* Set maximum width for content container */
    margin: 0 auto; /* Center align the container horizontally */
    text-align: center; /* Center align the text within the container */
    padding: 20px; /* Add some padding to the container */
    background: linear-gradient(
      45deg,
      #c42bdb,
      #d51160,
      #489bc1,
      hsl(304, 51%, 70%)
    ); 
    background-size: 300% 300%;
    animation: color 15s ease-in-out infinite;
  }

  @keyframes color {
    0%{
      background-position: 0 50%;
    }
    50%{
      background-position: 100% 50%;
    }
    100%{
      background-position: 0 50%;
    }
    
  }
  .card {
    margin: 10px;
    height: 80%;
  }
  .card-title{
    padding-top: 20px;
  }
  .logos{
  box-shadow: 0px 2px 4px rgba(243, 19, 19, 0.967);
  width: 50px; height: 50px; border-radius: 50%;
  margin-top: 10px;
  }

.img-media:hover{
  transform: scale(1.3);
}
  
  .logos:hover {
    transform: scale(1.3);
  }
  /* Custom CSS for social media logos */
  .social-media-logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social-media-logos img {
    margin: 0 5px; /* Update margin here */
    max-width: 100%;
    height: 40px; /* Update height here */
    
  }
  
  h1,
  h2,
  .navbar-brand {
    font-family: "Tangerine", serif;
    text-shadow: 4px 4px 4px #cf1b1b;
  }
  
  @media only screen and (min-width: 600px) {
    .text {
      text-align: justify;
      font-weight: bolder;
    }
  }

  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in forwards;
  }
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }